@import "reset";
@import "_var";

/*-----------------

TABLE OF CONTENTS: 

1. Header styles
2. Nav styles
3. Content styles
4. Footer styles

--------------------*/

/* Header */

header {
    border: 2px solid black;
}

/* Nav */

nav {
    border: 2px solid black;

    ul {
        li {
            margin-left: 10px;

            a:hover {
                text-decoration: none;
            }
        }
    }
}

/* Content */

.content {
    border: 2px solid black;
}

/* Footer */

footer {
    border: 2px solid black;
}
